<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

      <main>
        <div class="perfil-row">
          <div class="profile-image">
            <img src="/images/user/<%=user.profile_image%>" class="profile-img" alt="usuario-avatar">
          </div>
          <div class="profile-data">
            <div class="profile-body">
              <h5 class="card-title">
                <%=user.nombre%>
                  <%= user.apellido %>
              </h5>
              <p class="card-text">Email: <%= user.email %>
              </p>
              <p class="card-text">Dirección: <%= user.direccion %>
              </p>
              <p class="card-text">Ciudad: <%= user.ciudad %>
              </p>
              <p class="card-text">Estado o Provincia: <%= user.estado_provincia %>
              </p>
              <p class="card-text">País: <%= user.pais %>
              </p>
              <p class="card-text">Codigo Postal: <%= user.codigo_postal %>
              </p>
              <p class="card-text">Teléfono: <%= user.telefono %>
              </p>
              <div class="button-container">
                <a href="/users/userEdit/<%=user.id%>"><button type="botonBuy" class="perfil-edit">Editar</button></a>
                <% if (locals.userLogged && userLogged.categoria_usuario_id==1) { %>
                  <a href="/users/userList"><button class="botonBuy">Lista de Usuarios</button></a>
                  <% } %>
              </div>
            </div>
          </div>
        </div>
      </main>


      <%- include('../partials/footer') %>

  </body>

</html>